* text=auto

*.m text diff=matlab
*.c text
*.cu text
*.cpp text
*.h text
*.ptx text

*.bib text
*.css text
*.html text
*.md text
*.tex text
*.tpl text
*.txt text
*.sty text

*.csv -text
*.min.js -text

*.fig binary
*.mat binary
*.mex binary
*.mexa64 binary
*.mexw64 binary
*.mexmaci64 binary
*.mexmaca64 binary
*.mlapp binary
*.mlx binary
*.p binary
*.so binary
*.dll binary
*.dylib binary

*.dat binary
*.gif binary
*.jpg binary
*.lut binary
*.nii binary
*.pdf binary
*.png binary
*.u3d binary
*.wav binary
